:root {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.8rem;
	background-color: seashell;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header, .choices {
	display: flex;
}
header {
	flex-direction: column;
	align-items: center;
}
h1, h2, h3 {
	flex-basis: 100%;
	text-align: center;
	margin: 1rem auto;
}
a {
	color: #FDB757;
	text-decoration: none;
	font-weight: 900;
}
.score {
	padding: 0.5rem;
	border: 0.3rem solid  coral;
}
.score > p {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 1rem;
	font-weight: 900;
	text-transform: uppercase;
}
.score > p:nth-of-type(2) {
	padding: 0.3rem;
	text-shadow: 1px 2px 0 coral;
	/* border-top: 3px solid coral; */
}
.score-computer {
	margin-left: auto;
}
button {
	margin: 2rem 0;
	padding: 0.5rem 1rem;
	border: 0.3rem solid #333;
	font-family: inherit;
	font-size: inherit;
	font-weight: 900;
	text-transform: uppercase;
	max-width: 20ch;
}
#startBtn {
	background-color: #FDB757;
	background-color: coral;
	/* background-color: #333; */
	color: white;
}

header, main, footer {
	margin: 0 auto;
	padding: 1rem;
	width: 95%;
}

.computer, .player {
	margin: 1rem 0;
	padding: 2rem 0;
	border: 5px solid #C1B0B5;
}
h2 {
	text-transform: uppercase;
	font-size: 130%;
	margin-bottom: 4rem;
	text-shadow: 1px 2px 0 coral;
}
.computer, .player-choice {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.choices {
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-end;
}

.r-p-s-icon {
	width: 10rem;
}

.result-display {
	text-align: center;
}

footer {
	margin: 2rem 0;
	text-align: right;
}

/* FUNCTIONAL CLASSES */

.display {
	font-size: 200%;
	font-weight: 900;
	border-bottom: 5px dashed coral;
	width: max-content;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.throwing {
	animation: computerChoice 0.5s ease-in-out 0s 15 alternate backwards;
}

.blink {
	animation: blinking 0.5s ease-in-out 0s 15 alternate backwards;
}

.emerging {
	animation: appearingDisplay ease-in 0.4s 1;
}

/* ANIMATIONS */

@keyframes computerChoice {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(45deg);
	}
}

@keyframes blinking {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.5;
	}
}

@keyframes appearingDisplay {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* MEDIA QUERIES */

@media screen and (min-width: 550px) {
	header {
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: flex-end;
	}
}

@media screen and (min-width: 800px) {
	header, main, footer {
		width: 80%;
	}
	
}
@media screen and (min-width: 1100px) {
	header, main, footer {
		width: 60%;
	}
}